<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>404</title>
    <div th:include="common :: headcommon"></div>
</head>
<body>
<div th:replace="common :: #top_start"></div>

<div class="layui-container container">
    <div class="fly-none">
        <h2><i class="iconfont icon-404"></i></h2>
        <p>你瞧！页面或者数据被<a href="#"> 纸飞机 </a>运到火星了</p>
    </div>
</div>

<div th:replace="common :: #foot_start"></div>
</body>
</html>